* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 239, 220);
    font-family: sans-serif;
}
a, 
ul {
    text-decoration: none;
    list-style: none;
}
/* ---------------------------------------------*/
/* HEADER */
/* ---------------------------------------------*/
.header {
    height: 100px;
    background: url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=582&q=80");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    top: 0;
    margin-bottom: 50px;
}
/* ------- NAV ------- */

.nav-bar-list {
    display: flex;
}
.nav-bar-item {
    color: rgb(255, 239, 220);
    padding: 20px;
    font-size: 1.5em;
    font-weight: 700;
}
.nav-bar-item:hover {
    color: rgb(85, 197, 160);
}

/* -------CONTENT------- */
h1, h2 {
    color: darkgreen;
    line-height: 1.1;
}
.main-content {
    width: auto;
    border: 2px solid darkolivegreen;
    padding: 50px;
    margin: 20px;
    text-align: center;
  }
  .column-left {
      width: 50%;
      position: relative;
      float: left;
      padding: 15px;
      text-align: left;
  }
  .column-right {
      border-left: 2px solid darkolivegreen;
      width: 50%;
      float: right;
      padding: 15px;
      padding-right: 120px;
      text-align: left;
  }
  .column-bottom {
      padding: 15px;
     width: auto;
      border-bottom: 2px solid darkolivegreen;
      border-top: 2px solid darkolivegreen;
      margin-top: 300px;
      text-align: center;
  }

  iframe {
      padding: 15 px;
      width: 100%;
  }

  .directions:hover {
      color: darkolivegreen;
  }
/* ---------------------------------------------*/
/* FOOTER */
/* ---------------------------------------------*/
.footer {
    height: 40vh;
    background-color: rgb(85, 197, 160);
    border-top: 4px solid black;
    padding: 50px;
    display: flex;
    justify-content: center;
}
.footer-object {
    margin: 20px 50px;
}
.footer-title {
    font-size: 150%;
    color: rgb(255, 239, 220);
    margin-bottom: 10px;
}
.footer-paragraph {
    line-height: 1.5;
}
.socials-link {
    color: black;
}
.socials-link:hover {
    color: rgb(255, 239, 220);
}